body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 16px 350px;

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #E5E7Eb;
}

a{
    margin: 16px;
}

.dark-bg{
    background-color: #1F2937;
}

header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.website-info{
    display: flex;
    padding: 50px 350px;
}

.left-panel{
    display: flex;
    flex-direction: column;
    padding-right: 48px;
}

.left-panel h1{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
    margin: 0;
}

.left-panel div {
    font-size: 18px;
    color: #E5E7Eb;
}

.website-info img{
    width: 900px;
    height: 300px;
}

.left-panel button {
    background-color: #3882F6;
    width: 120px;
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 18px;
    color:#F9FAF8;
    font-weight: 900;
    border: 0;
}

.pictures-holder{
    background-color: white;
    padding: 20px 350px 50px 350px;
}

.pictures-holder h1 {
    text-align: center;
    margin-bottom: 16px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.card {
    padding: 16px;
    text-align: center;
    width: 200px;
    
}

.card img {
    width: 200px;
    border-radius: 16px;
    margin: 8px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: #E5E7Eb;
}

.quote-holder{
    background-color: #E5E7Eb;
    padding: 50px 500px;
}

.quote{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    text-align: justify;
    margin: 0;
}

.author{
    font-weight: 900;
    font-size: 18px;
    color: #1F2937;
    text-align: end;
    margin: 0;
}

.button-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.sign-up{
    width: 1100px;
    height: 125px;
    background-color: #3882F6;
    border-radius: 16px;
    margin: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sign-up h2{
    margin: 0;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 700;
}

.text-holder div{
    color: #E5E7Eb;
    
}

.sign-up button{
    background-color: #3882F6;
    width: 120px;
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 18px;
    color:#F9FAF8;
    font-weight: 900;
    border: 2px solid #F9FAF8;
}